<%= render "layouts/header", title: "ジャンル一覧" ,  bg_color: "primary" %>
<div class = "container">
  <div class="row">
    <div class="col-10 col-md-8">
      <div class="card border-0 my-4">
      
        <% @genres.each do |genre| %>
          <div class="row my-2">
            <div class="col-8">
              <%= genre.name %>
            </div>
            <div class="col-2">
            <%= link_to edit_genre_path(genre) do %>
              <i class="fas fa-edit"></i>編集
            <% end %>
            </div>
            <div class="col-2">
            <%= link_to genre_path(genre), method: :delete, data: {confirm: "削除しますか?"} do %>
              <i class="fas fa-trash-alt"></i>削除
            <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<%= link_to "新規ジャンル登録", new_genre_path %>
</div>