<h1>ジャンル登録</h1>
<% if @genre.errors.any? %>
  <h2>エラー</h2>
  <ul>
    <% @genre.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<%= form_with model: @genre, local: true do |form| %>
  <p>名前：<%= form.text_field :name %></p>
  <%= form.submit "登録" %>
<% end %>

<%= link_to "登録キャンセル（ジャンル一覧へ戻る）", genres_path %>