<div class = "container">
  <div class="row">
    <div class="col">
        <%= form_with url: path, method: :get, local: true do |form| %>
        <% @plans.each do |plan| %>
          <%= form.fields_for 'plans[]', plan do |f| %>
            <p>
            <% if mode == "new" then %>
              <%= check_box_tag 'checked_plan[]',"#{plan.id}" %>
            <% else %>
              <%= check_box_tag 'checked_plan[]',"#{plan.id}" ,@selected_plan_ids.include?(plan.id)%>
            <% end %>
            目標： <%= plan.name %>
            締め切り：<%=l plan.deadline %>
            ステータス：<%= plan.status %>
            ジャンル：<%= plan.genre_id %>
            </p>
          <% end %>
        <% end %>

        <%= form.submit "登録" %>
      <% end %>
      </div>
      </div>
      </div>
    </div>
  </div>
</div>