<%= render "layouts/header", title: "振り返り一覧" , bg_color: "info" %>

<section id="report">
  <div class = "container">
    <div class="row">
      <div class="col-md-8">

      <div class="col-12 my-3 px-0 text-right">
      <%= link_to new_review_path do %>
        <button type="button" class="btn btn-outline-primary"><i class="fas fa-plus"></i> 振り返り登録</button>
      <% end %>
      </div>

        <% if @reviews.size == 0 %>
          <div class="my-5">
          振り返りが登録されていません。
          </div>
        <% else %>
          <% @reviews.each.with_index(1) do |review, i| %>
            <div class="container border my-5">
              <div class="row py-3">
                <div class="col-8 col-md-10">
                  <%= l review.reviewed_on %>
                </div>
                <div class="col-2 col-md-1 px-2">
                  <%= link_to review_path(review) do %>
                    <button type="button" class="btn btn-sm btn-outline-info"><i class="far fa-file-alt"></i></button>
                  <% end %>
                </div>
                <div class="col-2 col-md-1 px-2">
                  <%= link_to review_path(review), method: :delete, data: {confirm: "削除しますか?"} do %>
                    <button type="button" class="btn btn-sm btn-outline-danger"><i class="fas fa-trash-alt"></i></button>
                  <% end %>
                </div>
              </div>

              <div class="row px-2">
                <div class="col-12 p-2 mb-2">
                  <%= review.content %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
        <% if @reviews.empty? %>
          <%# ページネーション非表示 %>
        <% else %>
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <%= paginate @reviews %>  
            </ul>
          </nav>
        <% end %>
      </div>
    </div>
  </div>
</section>  