<h1>振り返り登録</h1>
<%= form_with model: @plan, local: true do |f| %>
  <% @plans.each.with_index(1) do |plan, i| %>
    <p>
    目標： <%= plan.name %>
    締め切り：<%= plan.deadline %>
    ステータス：<%= plan.status %>
    ジャンル：<%= plan.genre_id %>
    </p>
  <% end %>
  <%= f.submit "登録" %>
<% end %>


<%= form_with model: @review, local: true do |f| %>
  <%= f.check_box 'agreement', {:content => true}, true, false %>
  <%= f.submit "登録" %>
<% end %>