<h1>振り返り登録</h1>
<% if @plan.errors.any? || @review.errors.any?%>
  <h2>エラー</h2>
  <ul>
    <% @plan.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  <ul>
  <% @review.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %>
<%= form_with model: @review, local: true do |form| %>
  <p>振り返り日：<%= form.date_field :reviewed_on %></p>
    <% @plans.each do |plan| %>
      <%= form.fields_for 'plans[]', plan do |f| %>
      <p>
      目標： <%= plan.name %>
      ジャンル：<%= plan.genre_id %>
      締め切り：<%=l plan.deadline %>
      ステータス：<%= plan.status %>
     
      </p>
      <p>変更後の締め切り：<%= f.date_field :deadline %></p>
      <p>変更後のステータス：<%= f.select :status, ["進行中","中止","完了"] %></p>
    <% end %>
  <% end %>
  <p>コメント：<%= form.text_field :content %></p>
  <%= form.submit "登録" %>
<% end %>

<%= link_to "登録キャンセル（振り返り一覧へ戻る）", reviews_path %>