<%= render "layouts/header", title: "振り返り登録-目標 再選択" , bg_color: "info" %>
<div class = "container">
  <div class="row">
    <div class="col-md-8">
      <%= form_with url: edit_review_path, method: :get, local: true do |form| %>
        <% @plans.each do |plan| %>
          <div class = "container border my-3">  
            <%= form.fields_for 'plans[]', plan do |f| %>
              <div class = "row py-3"> 
                <div class="col">
                  <div class="row">
                    <div class="col-1">
                      <%= check_box_tag 'checked_plan[]',"#{plan.id}", false %>
                    </div>
                    <div class="col-10">
                      <div class="row">
                        <div class="col-12 col-md-4">
                          <%= plan.name %>
                          <% if plan.status == "完了" %>
                            <span class="badge bg-success pt-2 pb-2 ">
                              <%= plan.status %>
                            </span>
                          <% elsif plan.status == "中止" %>
                            <span class="badge bg-dark pt-2 pb-2 text-white">
                              <%= plan.status %>
                            </span>
                          <% end %>
                        </div>
                        <div class="col-8 col-md-5">
                          <div class="genre">
                            <i class="fas fa-tag"></i><%= get_genre_name(plan.genre_id)%>
                          </div>
                        </div>
                        <div class="col-4 col-md-3">
                          <span class="dead-line"><i class="fas fa-calendar-check"></i><%= l plan.deadline, format: :short  %>
                        </div>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
        <div class="col-9 px-0">
        <%= form.submit "振り返り編集" ,{class: "btn-primary btn-lg"}%> 
      </div>
      <% end %>
    </div>
  
  </div>
  <div class="row">
    <div class="col my-3">
      <%= link_to "登録キャンセル（振り返り一覧へ戻る）", reviews_path %>
    </div>
  </div>
</div>