<%= render "layouts/header", title: "振り返り登録-目標選択" , bg_color: "info" %>
<div class = "container">
<div class="row">
  <div class="col">
    <div class="card border-0 my-4">
      <div class="table-responsive">
      <%= form_with url: new_review_path, method: :get, local: true do |form| %>
        <table class="table table-hover">
          <thead class="table-dark">
            <tr>
              <th> </th>
              <th>目標</th>
              <th>締め切り</th>
              <th>状態</th>
              <th>ジャンル</th>
            </tr>
          </thead>
          <tbody>

          <% @plans.each do |plan| %>
            <%= form.fields_for 'plans[]', plan do |f| %>
              <tr>
                <td class="d-flex align-items-center justify-content-center">
                  <%= check_box_tag 'checked_plan[]',"#{plan.id}", false,{class: "form-check"} %>
                </td>
                <td>
                  <%= plan.name %>
                </td>
                <td>
                  <%=l plan.deadline %>
                </td>
                <td>
                <% if plan.status == "進行中" %>
                <div class="badge bg-warning pt-2 pb-2 px-3 py-3 text-black">
                <% elsif plan.status == "完了" %>
                <div class="badge bg-success pt-2 pb-2 px-3 py-3">
                <% elsif plan.status == "中止" %>
                <div class="badge bg-dark pt-2 pb-2 px-3 py-3 text-white">
              <% end %>
              <%= plan.status %></div>
                </td>
                <td>
                  <%= get_genre_name(plan.genre_id) %>
                </td>
              </tr>
            <% end %>
            <% end %>
          </tbody>
          </table>
          
            <%= form.submit "> 振り返り記入" ,{class: "btn-primary btn-lg"}%> 
      <% end %>
      </div>
      </div>
    </div>
  </div>
  <%= link_to "登録キャンセル（振り返り一覧へ戻る）", reviews_path %>
</div>

