<%= render "layouts/header", title: "振り返り登録-目標選択" , bg_color: "info" %>
<div class = "container">
<div class="row">
  <div class="col">
    <div class="card border-0 my-4">
      <div class="row">
            <div class="col-2 col-md-2">-</div>
            <div class="col-4 col-md-4">目標</div>
            <div class="col-2 col-md-2">締め切り</div>
            <div class="col-2 col-md-2">状態</div>
            <div class="col-2 col-md-2">ジャンル</div>
      </div>
      <div class="row">
        <%= form_with url: new_review_path, method: :get, local: true do |form| %>
          <% @plans.each do |plan| %>
            <%= form.fields_for 'plans[]', plan do |f| %>
              <div class="row">
              <div class="col-2 col-md-2">
                <%= check_box_tag 'checked_plan[]',"#{plan.id}", false,{class: "form-check"} %>
              </div>
              <div class="col-4 col-md-4">
                <%= plan.name %>
              </div>
              <div class="col-2 col-md-2">
                <%=l plan.deadline %>
              </div>
              <div class="col-2 col-md-2">
                <% if plan.status == "進行中" %>
                  <div class="badge bg-warning pt-2 pb-2 px-3 py-3 text-black">
                <% elsif plan.status == "完了" %>
                  <div class="badge bg-success pt-2 pb-2 px-3 py-3">
                <% elsif plan.status == "中止" %>
                  <div class="badge bg-dark pt-2 pb-2 px-3 py-3 text-white">
                <% end %>
                  <%= plan.status %>
                </div>
              </div>
              <div class="col-2 col-md-2">
                <%= get_genre_name(plan.genre_id) %>
              </div>
              </div>
            <% end %>
          <% end %>
          <div class="row">
            <div class="col-10 col-md-10">
            <%= form.submit "> 振り返り記入" ,{class: "btn-primary btn-lg"}%>
            </div>
          </div>    
      <% end %>
      </div>
      </div>
    </div>
  </div>
  <%= link_to "登録キャンセル（振り返り一覧へ戻る）", reviews_path %>
</div>

