<% if @plans.size == 0 %>
  <div class="my-5">
目標が登録されていません。
  </div>
<% else %>
<% if @copy_button_toggle %>
<button type="button" class="btn btn-sm btn-outline-primary js-copy-plan" data-report-id="1"><i class="far fa-clipboard mr-1"></i>COPY</button>
<% end %>
  <% @plans.each.with_index(1) do |plan, i| %>
    <div class = "container border my-5">
      <div class="row py-3">
        <div class="col-8 col-md-10">
          <div class="row">
            <div class="col-12">
            <div class="d-none share-plan" share-plan-id="<%= plan.id %>">目標:<%= plan.name %> ジャンル: <%= get_genre_name(plan.genre_id)%> 締め切り:<%= l plan.deadline, format: :short  %></div>
              <%= plan.name %>
              <span class="badge pt-2 pb-2 <%= status_color(plan.status) %>">
              <%= plan.status %>
              </span>
            </div>
            <div class="col-12 col-md-4 my-2">
              <div class="genre">
                <i class="fas fa-tag"></i><%= get_genre_name(plan.genre_id)%>
              </div>
            </div>
            <div class="col-10 col-md-6">
              <span class="dead-line"><i class="fas fa-calendar-check"></i><%= l plan.deadline, format: :short  %>
            </div>
          </div>
        </div>
        <div class="col-2 col-md-1 px-2">
          <%= link_to edit_plan_path(plan) do %>
            <button type="button" class="btn btn-sm btn-outline-primary"><i class="fas fa-edit"></i></button>
          <% end %>
        </div>
        <div class="col-2 col-md-1 px-2">
          <%= link_to plan_path(plan), method: :delete, data: {confirm: "削除しますか?"} do %>
            <button type="button" class="btn btn-sm btn-outline-danger"><i class="fas fa-trash-alt"></i></button>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
<% if @plans.empty? %>
<%# ページネーション非表示 %>
<% else %>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <%= paginate @plans, remote: true %>
  </ul>
</nav>
<% end %>