<h1>目標編集</h1>
<%= form_with model: @plan, local: true do |f| %>
  <p>目標：<%= f.text_field :name %></p>
  <p>ジャンル：<%= f.collection_select :genre_id, @select_genre, :id, :name, :include_blank => true %></p>
  <p>締め切り：<%= f.date_field :deadline %></p>
  <p>ステータス　<%= f.select :status, ["進行中","中止","完了"] %> </p>
  <%= f.submit "登録" %>
<% end %>

<%= link_to "編集キャンセル（目標一覧へ戻る）", plans_path %>