<main role="main">
  <div class = "container">
    <h1 class="display-6">目標一覧</h1>
    <div class="row row-title">
      <div class="col-4">
        目標
      </div>
      <div class="col-2">
        締め切り
      </div>
      <div class="col-2">
        状態
      </div>
      <div class="col-2">
        ジャンル
      </div>
      <div class="col-1">
        -
      </div>
      <div class="col-1">
        -
      </div>
      
      
    </div>
    <% @plans.each.with_index(1) do |plan, i| %>
      <div class="row row-content rounded">
        <div class="col-4">
          <%= plan.name %>
        </div>
        <div class="col-2">
        <%= l plan.deadline %>
        </div>
        <div class="col-2">
        <% if plan.status == "進行中" %>
          <div class="badge bg-secondary pt-5">
          <% else %>
          <div class="badge bg-success">
        <% end %>
            <%= plan.status %>
          </div>

        </div>
        <div class="col-2">
        <%= get_genre_name(plan.genre_id) %>
        </div>
        <div class="col-1">
        <%= link_to "編集", edit_plan_path(plan) %>
        </div>
        <div class="col-1">
        <%= link_to "削除", plan_path(plan), method: :delete, data: {confirm: "削除しますか?"} %>
        </div>
      </div>
    <% end %>

    <button type="button" class="btn btn-primary">Primary</button>

    <% if @plans.empty? %>
    <%# ページネーション非表示 %>
    <% else %>
    <%= paginate @plans %>
    <% end %>
  </div>
</main>