<% if @report.errors.any? %>
  <h2>エラー</h2>
  <ul>
    <% @report.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<div class = "container py-5">
  <div class="row">
    <div class="col-md-10">
      <div class="card rounded-3">
        <div class="card-body p-4">
        <%= form_with model: @report, local: true do |f| %>
          <div class="form-group">
            <label for="label-report" class="form-label">登録日</label>
            <% if @report.reported_on.nil? %>
              <%= f.date_field :reported_on, {class: "form-control" ,value:Date.today }%>
            <% else %>
              <%= f.date_field :reported_on, {class: "form-control"} %>
            <% end %>
          </div>
          <div class="table-responsive-xl">
            <table class="table mb-0 ">
              <thead>
                <tr>
                <th scope="col">ジャンル</th>
                  <th scope="col">やったこと</th>
                  <th scope="col">作業時間</th>
                  <th scope="col">-</th>
                </tr>
              </thead>
              <tbody>
                <div id="report_items">
                  <%= f.fields_for :report_items do |item| %>
                    <%= render "report_item_fields", f: item %>
                  <% end %>
                  <tr class="links" id="intersect-point">
                    <td colspan="3"></td>
                    <td>
                      <%= link_to_add_association "", f, :report_items ,\
                      :"data-association-insertion-node" => "#intersect-point" ,class: 'fas fa-plus' %>
                    </td>
                  </tr>                   
                </div>
              </tbody>
           </table>
          </div>
          <p>コメント:<%= f.text_field :content %></p>
          <%= f.submit "登録" %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>