<% if @reports.size == 0 %>
<div class="my-5">
日報が登録されていません。
</div>
<% else %>

<% @reports.each.with_index(1) do |report, i| %>
  <div class="container border my-5">
    <div class="row py-3">
      <div class="col-8 col-sm-5 col-xl-7">
        <%= l report.reported_on %>
      </div>
      <div class="col-4 col-sm-3 col-xl-2">
        <button type="button" class="btn btn-sm btn-outline-primary js-copy-report" data-report-id="<%= report.id %>"><i class="far fa-clipboard mr-1"></i>COPY</button>
      </div>
      <div class="col-2 col-sm-1">
        <%= link_to edit_report_path(report) do %>
          <button type="button" class="btn btn-sm btn-outline-primary"><i class="fas fa-edit mr-1"></i></button>
        <% end %>
      </div>
      <div class="col-2 col-sm-1">
        <%= link_to report_path(report) do %>
          <button type="button" class="btn btn-sm btn-outline-info"><i class="far fa-file-alt mr-1"></i></button>
        <% end %>
      </div>
      <div class="col-2 col-sm-1">
        <%= link_to report_path(report), method: :delete, data: {confirm: "削除しますか?"} do %>
          <button type="button" class="btn btn-sm btn-outline-danger"><i class="fas fa-trash-alt mr-1"></i></button>
        <% end %>
      </div>
      
    </div>
    <% report.report_items.each do |item| %>
      <div class="row mt-4">
        <div class="col-12 col-md-12">
          <div class="row">

            <div class="col-3 col-md-3">
              <div class="genre">
              <i class="fas fa-tag"></i><%= item.genre_id.nil?  ?  '' : @genres_set.assoc(item.genre_id).last %>
              </div>
            </div>
            <div class="col-9 col-md-9">
              <%= item.content %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <hr>
    <div class="row">
      <div class="col-12 mb-2">
        <%= report.content %>
      </div>
    </div>
  </div>  
<% end %>
<% end %>

<nav aria-label="Page navigation example">
<ul class="pagination">
  <%= paginate @reports %>
</ul>
</nav>