<!-- HEADER -->
<%= render "layouts/header", title: "日報一覧" , bg_color: "none" %>

<section id="report">
  <div class = "container">
    <div class="row py-4">
      <div class="col-5">
        <input type="hidden" id="reported_array" value="<%= @reports %>">
        <input type="hidden" id="reported" value="<%= @reported_days %>">
        <div id="datepicker"></div>
      </div>
      <div class="col-lg-7">
        <div class="col-12 px-0 text-right">
        <%= link_to new_report_path do %>
          <button type="button" class="btn btn-outline-primary btn-block btn-lg"><i class="fas fa-plus"></i> 日報登録</button>
        <% end %>
        </div>
        <div id="report_list">
        <%= render partial: 'reportlist' %>
        </div>

      </div>
    </div>
  </div>
</section>