<h1>日報一覧</h1>
<% @reports.each.with_index(1) do |report, i| %>
  <p>日付：<%= l report.reported_on %></p>
  <% report.report_items.each do |item| %>
    <p>
    ジャンル：<%= get_genre_name(item.genre_id ) %>
    やったこと：<%= item.content %>
    時間：<%= item.work_hours %>
    </p>
  <% end %>
  コメント： <%= report.content %>
  <%= link_to "編集", edit_report_path(report) %>
  <%= link_to "この日の日報を削除", report_path(report), method: :delete, data: {confirm: "削除しますか?"} %>
  </p>
  <hr>
<% end %>
<%= paginate @reports %>