<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>lytnote</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width">
    <script src="https://kit.fontawesome.com/60c39cf339.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-X4B8C0DNZK"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-X4B8C0DNZK');
    </script>
  </head>

  <body>
  
  <%= render "layouts/flash" %>

  <nav class="navbar d-flex flex-column flex-md-row navbar-expand-sm navbar-light bg-light gnav">
    <div id="logo" class = "col">
    <%= link_to image_tag('/logo.png', class:"img-logo"), plans_path %>
    </div>
    <div class="navbar col-auto" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item <%= 'active' if @active_menu == 'reports' %>">
            <%= link_to "日報", reports_path ,class: "nav-link2"%>
          </li>
          <li class="nav-item <%= 'active' if @active_menu == 'plans' %>">
            <%= link_to "目標", plans_path ,class: "nav-link2"%>
          </li>
          <li class="nav-item <%= 'active' if @active_menu == 'reviews' %>">
            <%= link_to "振り返り", reviews_path ,class: "nav-link2"%>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              設定
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to "ジャンル設定", genres_path, class:"dropdown-item" %>
              <%= link_to "アカウント編集", edit_user_registration_path, class:"dropdown-item" %>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: { confirm: "ログアウトしますか？" } , class:"dropdown-item"%>
              <%= "【ログイン中のアドレス】#{current_user.email}" %>
            </div>
          </li>
        <% else %>
        <%# 非ログイン時 %>
          <li class="nav-item">
            <%= link_to "新規登録", new_user_registration_path ,class: "nav-link2" %>
          </li>
          <li class="nav-item">
            <%= link_to "ログイン", new_user_session_path ,class: "nav-link2" %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
  <%= yield %>

  <footer class="mb-0 p-5 bg-dark text-white ">
  <div class ="container">
  <p>Copyright ©️ lytnote</p>
  </footer>
  </body>
</html>
