<!DOCTYPE html>
<html>
  <head>
    <title>DailyReportApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
  <%= render "layouts/flash" %>
  <% if user_signed_in? %>
    <%# ログイン時 %>
    <%= link_to "アカウント編集", edit_user_registration_path %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: { confirm: "ログアウトしますか？" } %>
    <%= "【ログイン中のアドレス】#{current_user.email}" %>
  <% else %>
    <%# 非ログイン時 %>
    <%= link_to "新規登録", new_user_registration_path %>
    <%= link_to "ログイン", new_user_session_path %>
  <% end %>
  <%= link_to "目標一覧", plans_path %>
  <%= link_to "目標登録", new_plan_path %>
  <%= link_to "日報一覧", reports_path %> 
  <%= link_to "日報登録", new_report_path %> 
  <%= link_to "振り返り一覧", reviews_path %>
  <%= link_to "振り返り登録", select_plan_reviews_path %>
  <%= link_to "ジャンル一覧", genres_path %>

  <%= yield %>
  </body>
</html>
